
@model WebToka.Models.IndexViewModel

@{
    
    ViewBag.Title = (Model == null) ? "Agregar Persona Fisica" : "Edtiar Persona Fisica";
    var mensaje = ViewData["Mensaje"];
    var persona = Model;
}
@if (mensaje != null)
{
    if (!string.IsNullOrEmpty(mensaje.ToString()))
    {
        <script>
            var icono = "success"; 
            var header = "Good Job!";
            var codigo = @ViewData["Codigo"];
            if (codigo <= 0)
            {
                icono = "error";
                header = "Bad Job!";
            }
            alert(codigo);
            swal(header.toString(), "@mensaje", icono.toString());
        </script>
    }
}



<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form method="post" id="frmPut" action="putPersona">
            @if (Model != null)
            {
                <input type="hidden" value="@Model.PersonasFisicas[0].IdPersonaFisica"  id="IdPersonaFisica" name="IdPersonaFisica"/>
                <div class="form-group">
                    <label for="txtNombre">Nombre</label>
                    <input type="text" class="form-control" id="txtNombre" name="txtNombre" placeholder="Nombres"  value="@Model.PersonasFisicas[0].Nombre">
                </div>
                <div class="form-group">
                    <label for="txtApellidoP">Apellido Paterno</label>
                    <input type="text" class="form-control" id="txtApellidoP" name="txtApellidoP" placeholder="Apellido Paterno"  value="@Model.PersonasFisicas[0].ApellidoPaterno">
                </div>

                <div class="form-group">
                    <label for="txtApellidoM">Apellido Materno</label>
                    <input type="text" class="form-control" id="txtApellidoM" name="txtApellidoM" placeholder="Apellido Materno"  value="@Model.PersonasFisicas[0].ApellidoMaterno">
                </div>

                <div class="form-group">
                    <label for="txtFechaNac">Fecha Nacimiento</label>
                    <input type="date" class="form-control" id="txtFechaNac" name="txtFechaNac" placeholder="Fecha Nacimiento"  value="@Model.PersonasFisicas[0].FechaNacimiento.ToString("yyyy-MM-dd")">
                </div>

                <div class="form-group">
                    <label for="txtRfc">RFC</label>
                    <input type="text" class="form-control" id="txtRfc" name="txtRfc" placeholder="RFC"  value="@Model.PersonasFisicas[0].RFC">
                </div>
                <button type="submit" class="btn btn-primary" id="btnEnviar">Enviar</button>
            }
            else
            {
                <div class="form-group">
                    <label for="txtNombre">Nombre</label>
                    <input type="text" class="form-control" id="txtNombre" name="txtNombre" placeholder="Nombres">
                </div>
                <div class="form-group">
                    <label for="txtApellidoP">Apellido Paterno</label>
                    <input type="text" class="form-control" id="txtApellidoP" name="txtApellidoP" placeholder="Apellido Paterno">
                </div>

                <div class="form-group">
                    <label for="txtApellidoM">Apellido Materno</label>
                    <input type="text" class="form-control" id="txtApellidoM" name="txtApellidoM" placeholder="Apellido Materno">
                </div>

                <div class="form-group">
                    <label for="txtFechaNac">Fecha Nacimiento</label>
                    <input type="date" class="form-control" id="txtFechaNac" name="txtFechaNac" placeholder="Fecha Nacimiento">
                </div>

                <div class="form-group">
                    <label for="txtRfc">RFC</label>
                    <input type="text" class="form-control" id="txtRfc" name="txtRfc" placeholder="RFC">
                </div>
                <button type="submit" class="btn btn-primary" id="btnEnviar">Enviar</button>
            }

        </form>
    </div>
</div>

<script>
    //$(document).ready(function () {
    //    alert("a");
    //    $("form#frmPut").submit(function (e) {
    //        e.preventDefault();
    //        var a = JSON.stringify($("form#frmPut").serializeArray());
    //        console.log(a);
    //        $.ajax({
    //            type: "POST",
    //            url: "putPersona",
    //            data: $("#frmPut").serializeArray(),
    //            success: function (datos) {
    //                console.log($("#frmPut").serializeJSON());
    //            },
    //            dataType: 'json'
    //        })

    //    });
    //});


</script>
