@model WebToka.Models.IndexViewModel

@{
    ViewBag.Title = "Home Page";
    var cantidadPaginas = (int)Math.Ceiling((double)Model.TotalRegistros / Model.RegistroPorPagina);
}

<div class="row">
    <div class="col-md-12">
       <table class="table table-striped">
           <thead>
               <tr>
                   <th>Id</th>
                   <th>Nombre</th>
               </tr>          
           </thead>
           <tbody>
               @foreach(var persona in Model.PersonasFisicas)
               {
               <tr>
                   <td>@persona.IdPersonaFisica</td>
                   <td>@persona.Nombre</td>
               </tr>
                }
               <tr>
                   <td></td>
                   <td></td>
               </tr>
           </tbody>
       </table>

       <ul class="pagination">
           @if (Model.PaginaActual == 1)
           {
               <li class="disabled">@Html.ActionLink("Anteiror", null, new { pagina = 1 })</li>
           }
           else
           {
               <li>@Html.ActionLink("Anteiror", null, new { pagina = (Model.PaginaActual - 1) })</li>
           }

           @if (Model.PaginaActual == cantidadPaginas)
           {
               <li class="disabled">@Html.ActionLink("Siguiente", null, new { pagina = 1 })</li>
           }
           else
           {
               <li>@Html.ActionLink("Siguiente", null, new { pagina = (Model.PaginaActual + 1) })</li>
           }
       </ul>
    </div>
</div>